* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: aliceblue;
  text-align: center;
}
.container {
  border: 1px white solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}
.pixel {
  background-color: rgb(170, 221, 221);
  border: 1px black solid;
}
#resetPixels {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  border: none;
  color: white;
  padding: 7px 14px;
  cursor: pointer;
  border-radius: 5px;
}
.generate {
  background-color: #04aa6d;
}
.generate:hover {
  background-color: #46a049;
}
.generate:active {
  background-color: #46a049;
  transform: translateY(-3%);
}

.reset {
  background-color: #f44336;
}
.reset:hover {
  background: #da190b;
}
.reset:active{
  background: #da190b;
  transform: translateY(-3%);
}

.randomColor {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 255, 0, 1) 50%,
    rgba(0, 0, 255, 1) 100%
  );
}
.randomColor:hover{
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(0, 255,0, 1) 50%,
    rgba(255, 0, 0, 1) 100%
  );
}
.randomColor:active{
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(0, 255,0, 1) 50%,
    rgba(255, 0, 0, 1) 100%
  );
  transform: translateY(-3%);


}
