* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
.container{
  display: flex;
}
.pixel{
  width: 10px;
  height: 10px;
  background-color: aqua;
  border: 1px black solid;
}
